.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    background-color: aliceblue;
}

.display {
    display: flex;
    align-items: flex-start;
    width: 516px;
    height: 50px;
    background-color: beige;
    padding: 5px;
}

#current-calculation, #current-operator {
    font-size: xx-large;
}

body {
    text-align: center;
}

button {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 2px 2px;
}