.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10% auto;
    text-align: center;
}

.row {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

body {
    text-align: center;
}

button {
    padding: 10px;
    margin: 2px 2px;
}