.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    text-align: center;
}

button {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 2px 2px;
}